/* Standard colours */

$colour-drop-shadow: #1d70b8;
$colour-image-placeholder: hero-colour("mid-grey");
$colour-secondary-text: hero-colour("dark-grey");
$colour-border-grey: #b1b4b6;
$dfe-blue: #003a69;
$accent: #4073ac;

/* change indent border */
.govuk-inset-text, .app-prose > blockquote {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  border-left: 10px solid $dfe-blue;
}

  //Fix for our long service name breaking on desktop viewport
  @media (max-width: 56.1875em) {
  .app-header__logo {
    width: auto;
    }
}

  //Fix for our long service name breaking on desktop viewport
  @media (min-width: 56.25em) {
  .app-header__logo {
    width: 57%;
    }

  .app-site-search {
    margin-top: 20px;
    }
}

.app-tag-no-content {
  background: govuk-colour("white");
  color: govuk-colour("dark-grey");
  outline: 2px solid govuk-colour("dark-grey");
}

.app-tag-not-running {
  background: govuk-colour("mid-grey");
}

.app-tag-draft {
  background: govuk-colour("orange");
}

.app-tag-published {
  background: govuk-colour("green");
}

.app-grid-column-one-fifth {
  width: 20%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px;
}
